/**display Start**/
.db {
  &,
  &_ > * {
    display: block;
  }
}

.di {
  &,
  &_ > * {
    display: inline;
  }
}

.dib {
  &,
  &_ > * {
    display: inline-block;
  }
}

.dtbc {
  &,
  &_ > * {
    display: table-cell;
  }
}

.dtb {
  display: table;
}

.dflex {
  display: flex;
}

.dn {
  display: none;
}
/**display  End**/
