/** float Start **/
.l {
  &,
  &_ > * {
    float: left;
  }
}

.r {
  &,
  &_ > * {
    float: right;
  }
}

.lfix_ {
  @extend .clearfix;
  & > * {
    float: left;
  }
}

.rfix_ {
  @extend .clearfix;
  & > * {
    float: right;
  }
}

.lrfix_ {
  @extend .clearfix;
  > *:first-child {
    float: left;
  }
  > *:last-child {
    float: right;
  }
}

/** float  End **/
