/**margin Start**/
.auto {
  margin-left: auto;
  margin-right: auto;
}

.maa{
  margin: auto;
}

.m0a {
  margin: 0 auto;
}

.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr_ > *:last-child {
  margin-right: 0;
}
.ml_ > *:first-child {
  margin-left: 0;
}
.mt_ > *:first-child {
  margin-top: 0;
}
.mb_ > *:last-child {
  margin-bottom: 0;
}

// nagetive -1:
.mt__ {
  margin-bottom: -1px;
}
.mr__ {
  margin-right: -1px;
}
.mb__ {
  margin-bottom: -1px;
}
.ml__ {
  margin-left: -1px;
}

/*margin End*/
