/*padding Start*/
.p0{
  padding:0!important;
}
.pt0{
  padding-top: 0!important;
}
.pr0{
  padding-right: 0!important;
}
.pb0{
  padding-bottom: 0!important;
}
.pl0{
  padding-left: 0!important;
}
/*padding End*/
