/*padding Start*/
.p0 {
  padding: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}

.pr_ > *:last-child {
  padding-right: 0;
}
.pl_ > *:first-child {
  padding-left: 0;
}
.pt_ > *:first-child {
  padding-top: 0;
}
.pb_ > *:last-child {
  padding-bottom: 0;
}
/*padding End*/
