/**position Start**/
.rel {
  &,
  &_ > * {
    position: relative;
  }
}

.fixed {
  position: fixed;
}

.abs {
  &,
  &_ > * {
    position: absolute;
  }
}

.t0 {
  top: 0!important;
}

.r0 {
  right: 0!important;
}

.b0 {
  bottom: 0!important;
}

.l0 {
  left: 0!important;
}

.trbl0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.t5 {
  top: 50%;
}

.r5 {
  right: 50%;
}

.b5 {
  bottom: 50%;
}

.l5 {
  left: 50%;
}

.t100 {
  top: 100%;
}

.r100 {
  right: 100%;
}

.b100 {
  bottom: 100%;
}

.l100 {
  left: 100%;
}

.z1{
  z-index:1;
}
.z2{
  z-index:2;
}
.z3{
  z-index:3;
}

/**position  End**/
