.circle {
  border-radius: 50%;
}

.round {
  border-radius: 1000px;
}

.rect {
  border-radius: none !important;
}

.radius-t0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.radius-r0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.radius-b0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.radius-l0 {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
