/** status Start **/
.disabled {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}

[hidden],
.hidden {
  display: none !important;
}

.unactive {
  filter: grayscale(100%);
  color: #999;
}
/** status  End **/
