/**text-decoration Start**/
.tdn{
  text-decoration: none;
}
.tdu{
  text-decoration: underline;
}
.tdlh{
  text-decoration: line-through;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.ell {
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  overflow: hidden;
}

.b{
  font-weight: bold;
}

.n{
  font-weight: normal;
  font-style: normal;
}
/**text-decoration  End**/
