/**text-decoration Start**/
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.tdlh {
  text-decoration: line-through;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}

.tlr_ {
  > *:first-child {
    text-align: left;
  }
  > *:last-child {
    text-align: right;
  }
}

.nowrap {
  white-space: nowrap;
}

.ell {
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  overflow: hidden;
}

.b {
  font-weight: bold;
}

.n {
  font-weight: normal;
  font-style: normal;
}
.usn {
  user-select: none;
}
/**text-decoration  End**/
